# ========================================================================
# AWS S3 Access keys
# ========================================================================
AWS_S3_BUCKET=your-bucket-name
AWS_S3_KEY=aws-key
AWS_S3_SECRET=aws-secret
AWS_S3_MODELKEY=path-to-model